.container {
  display: flexbox;
  justify-content: center;
  text-align: center;
  width: 85%;
  padding-left: 83px;
}

@media only screen and (max-width: 770px) {
  .container {
    width: 85%;
    padding-left: 83px;
  }
}