.container {
  margin: 0;
  text-align: center;
}

.card {
  margin: 2% !important;
  margin-bottom: 0% !important;
}

.root {
  padding: 2% !important;
  margin: 10% !important;
  margin-top: 4% !important;
  margin-bottom: 2% !important;
  text-align: justify;
}

.topcard {
  margin: 2% !important;
}

.infected {
  border-bottom: 10px solid orange;
}

.active {
  border-bottom: 10px solid yellow;
}

.recovered {
  border-bottom: 10px solid springgreen;
}

.deaths {
  border-bottom: 10px solid red;
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}